.fee__green {
  background-color: $color-green;
}

.fee__blue {
  background-color: $color-blue;
}

.fee__orange {
  background-color: $color-orange;
}

.button__green {
  background-color: $color-green;
}

.button__blue {
  background-color: $color-blue;
}

.button__orange {
  background-color: $color-orange;
}
