$page-color: #141b1c;
$card-background-main-color: #334247;
$card-background-secondary-color: #2a3438;
$text-color: #ffffff;
$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-red: #dc3f45;
